
<!-- contendio home -->
<div class="container">
	<div class="jumbotron main-header">
		<div class="container">
			<div class="logo-header"></div>
			<%= image_tag 'logo.png', {class: 'logo-header'} %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 product-list-container">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr class="food-title">
							<th width="20%"><h3>Producto</h3></th>
							<th width="20%"><h3>Descripcion</h3></th>
							<th width="10%"><h3>Precio</h3></th>

							<% if current_user %>
								<th width="10%"><h3>Cantidad</h3></th>
								<th width="20%"><h3>Total</h3></th>
							<% else %>
								<th width="20%"><a href="/login" class="btn btn-info btn-block">Login para Comprar</a></th>
							<% end %>

						</tr>
					</thead>

					<% Category.all.each do |category| %>
						<% category.products.first(3).each do |product| %>
							<tbody>
								<tr>
									<td class="food" scope="row"><%= image_tag(product.image_url) %></td>
									<td>
										<p class="category-name">
											<b><%= category.name %></b><br><%= product.description %>
										</p>
									</td>
									<td>$ <%= product.price_clp %></td>

									<!-- Mostrar Inputs solo si el usuario esta logueado -->
									<% if current_user %>
										<td>
											<input type="number" id="product_id_<%= product.id %>" data-product-id="<%= product.id %>" class="product_pricing_input form-control" data-price="<%= product.price_clp %>" data-amount="0" placeholder="0">
										</td>
										<td id="total_product_price_id_<%= product.id %>">$0</td>
									<% else %>
										<td></td>
										<td></td>
									<% end %>

								</tr>
							</tbody>
						<% end %>
					<% end %>
				</table>
			</div>

		</div>

		<div class="col-md-8"></div>
		<div class="col-md-4">
			<% if current_user %>
				<a href="" id="stripe_pay_button" class="btn btn-info btn-block">Pagar</a>
			<% else %>
				<a href="/login" id="" class="btn btn-info btn-block">Pagar</a>
			<% end %>

		</div>
		<div class="col-md-4 offset-md-8 text-center">
			<%= render partial: '/layouts/stripe_checkout_modal' %>
		</div>
	</div>
</div>






<% content_for :javascript do %>
<!-- 	<script src="https://checkout.stripe.com/checkout.js"></script> -->

	<script type="text/javascript">
		$(document).ready(function(){

		$(".product_pricing_input").on('keyup change blurr', function(event) {
			event.preventDefault();
			/* Act on the event */
			var rows = $(".product_pricing_input")
			var final_added_price = 0

			$.each(rows, function(index, row){
				var row = $(row)
				var price = row.data('price')
				var product_id = row.data("product-id")
				var amount = parseInt(row.val())
				amount = isNaN(amount) ? 0 : amount
				var total_price = price * amount
				var selector = "#total_product_price_id_"+ product_id

				final_added_price = final_added_price + total_price
				$(selector).text("$ " + total_price)
				// console.log([price, amount, price*amount])
			})
			console.log(final_added_price)

		});

		function getTotalPrice(){
			var rows = $(".product_pricing_input")
			var final_added_price = 0

			$.each(rows, function(index, row){
				var row = $(row)
				var price = row.data('price')
				var amount = parseInt(row.val())
				amount = isNaN(amount) ? 0 : amount
				var total_price = price * amount

				final_added_price = final_added_price + total_price
			})
			return final_added_price;
		}

		var handler = StripeCheckout.configure({
		  key: "<%= Rails.application.secrets.stripe_public_key %>",
		  image: "/assets/logo-xs.png",
		  locale: 'auto',
		  token: function(token) {
		    // You can access the token ID with `token.id`.
		    // Get the token ID to your server-side code for use.
		    amount = getTotalPrice()
		    console.log(amount)
		    $.ajax({
		    	url: '/billings/charge_customer',
		    	type: 'POST',
		    	data: { stripe_token: token, amount: amount},
		    })
		    .done(function(r) {
		    	console.log(r)
		    	console.log("success");
		    })
		    .fail(function(r) {
		    	console.log(r)
		    	console.log("error");
		    })

		  }
		});

		$("#stripe_pay_button").on('click', function(event) {
			event.preventDefault();
			/* Act on the event */

			total_price = getTotalPrice()

			if (total_price == 0) {
				swal("Atencion", "Debe elegir al menos 1 producto para poder pagar", "warning")
				return false
			}

		  handler.open({
		    name: 'ComboSnacks',
		    description: 'Seguro y Rapido',
		    amount: total_price,
		    currency: 'CLP',
		    panelLabel: 'Pagar {{amount}}',
		    allowRememberMe: false,
		    email: "<%= current_user&.email %>"
		  });
		  event.preventDefault();
		});

		// Close Checkout on page navigation:
		window.addEventListener('popstate', function() {
		  handler.close();
		});

		})
		</script>

<% end %>
