<!-- HISTORICO PEDIDOS -->

<!-- datos tarjeta -->
<div class="table-responsive" style="margin-bottom: 30px;">
	<table class="table">
		<h4>Tarjetas Asociadas</h4>
		<tbody>
			<tr style="background-color: #e0e0e0;">
				<td><b>Tipo</b></td>
				<td><b>Estado</b></td>
				<td><b>Fecha Expiracion</b></td>
				<td><b>Ultimos 4 Digitos</b></td>
				<td><b>Fecha Ingreso</b></td>
			</tr>
			<tr>
				<td><%= @card&.brand %></td>
				<td><%= 'Activa' if @card %></td>
				<td><%= "#{@card&.expiry_month}/#{@card&.expiry_year}" %></td>
				<td><%= @card&.last_4 %></td>
				<td><%= @card&.created_at.to_date %></td>
			</tr>
		</tbody>
	</table>
</div>

<!-- detalle pedidos -->
<div class="table-responsive">
	<table class="table">
		<h4>Datos Pedidos</h4>
		<thead>
			<tr style="background-color: #e0e0e0;">
				<th scope="col">Número Orden</th>
				<th scope="col">Estado</th>
				<th scope="col">Fecha</th>
				<th scope="col">Total</th>
			</tr>
		</thead>
		<% @billings.all.each do |billing| %>
		<tbody>
			<tr>
				<th scope="row">#<%= billing.order_code %></th> <!-- id -->
				<td><%=  billing.status.upcase %></td> <!-- estado -->
				<td><%=  billing.purchase_date.to_date %></td> <!-- fecha compra -->
				<td>$ <%=  billing.total_price %></td> <!-- monto total -->
			</tr>
		</tbody>
		<% end %>
	</table>
</div>
