<!DOCTYPE html>
<html>
<head>
	<title>ComboSnacks</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
	<%= csrf_meta_tags %>
	<div class="container">
		<%= render partial: 'layouts/navbar' %>

		<div class="row">
			<%= yield %>
		</div>
	</div>



	<script type="text/javascript">
		function show_alerts(){
			alert = "<%= params[:alert] %>"
			if (alert == 'payment_successful') {
				swal("Pago Exitoso", 'Su numero de orden es #876576465767', 'success')
			}
			if (alert == 'payment_failed') {
				swal("Pago Fallido", 'Error al procesar su pago, intente nuevamente', 'warning')
			}
		}
		show_alerts()
	</script>


</body>
</html>
